body {
    background: url(../img/w.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    color: #fff;
}

.div1 {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 13%;
    padding: 20px 50px;
    text-align: center;
    background: #00000060;
}

.div2 {
    margin-top: 15px;
}

.label1 {
    width: 180px;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    border-bottom: 2px solid #fff;
    background: #ffffff00;
}

.label2 {
    width: 190px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}